USE [KutuphaneSistemi]
GO
/****** Object:  Table [dbo].[ADMİN]    Script Date: 6.09.2021 13:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMİN](
	[ADMİNID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ADMİNAD] [varchar](20) NULL,
	[ADMİNSİFRE] [varchar](16) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KİTAP]    Script Date: 6.09.2021 13:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KİTAP](
	[KİTAPID] [int] IDENTITY(1,1) NOT NULL,
	[KİTAPAD] [varchar](60) NULL,
	[KİTAPTUR] [tinyint] NULL,
	[YAZAR] [varchar](30) NULL,
	[YAYINEVİ] [tinyint] NULL,
	[BARKODNO] [char](13) NULL,
	[DURUM] [bit] NULL,
	[KİSİ] [int] NULL,
	[TARİH] [smalldatetime] NULL,
	[PDF] [varchar](100) NULL,
	[RESİM] [varchar](150) NULL,
	[BEGENİ] [smallint] NULL,
 CONSTRAINT [PK_KİTAP] PRIMARY KEY CLUSTERED 
(
	[KİTAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KULLANİCİ]    Script Date: 6.09.2021 13:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANİCİ](
	[KULLANİCİID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANİCİAD] [varchar](15) NULL,
	[KULLANİCİSİFRE] [varchar](20) NULL,
	[ADSOYAD] [varchar](50) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_KULLANİCİ] PRIMARY KEY CLUSTERED 
(
	[KULLANİCİID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUR]    Script Date: 6.09.2021 13:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUR](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[TURAD] [varchar](20) NULL,
	[ADET] [smallint] NULL,
 CONSTRAINT [PK_Tur] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAYİNEVİ]    Script Date: 6.09.2021 13:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAYİNEVİ](
	[YAYINEVİID] [tinyint] IDENTITY(1,1) NOT NULL,
	[YAYINEVİAD] [varchar](40) NULL,
	[ADET] [smallint] NULL,
 CONSTRAINT [PK_YAYİNEVİ] PRIMARY KEY CLUSTERED 
(
	[YAYINEVİID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KİTAP] ADD  CONSTRAINT [DF_KİTAP_BEGENİ]  DEFAULT ((0)) FOR [BEGENİ]
GO
ALTER TABLE [dbo].[KULLANİCİ] ADD  CONSTRAINT [DF_KULLANİCİ_DURUM]  DEFAULT ((1)) FOR [DURUM]
GO
ALTER TABLE [dbo].[KİTAP]  WITH CHECK ADD  CONSTRAINT [FK_KİTAP_KULLANİCİ] FOREIGN KEY([KİSİ])
REFERENCES [dbo].[KULLANİCİ] ([KULLANİCİID])
GO
ALTER TABLE [dbo].[KİTAP] CHECK CONSTRAINT [FK_KİTAP_KULLANİCİ]
GO
ALTER TABLE [dbo].[KİTAP]  WITH CHECK ADD  CONSTRAINT [FK_KİTAP_Tur] FOREIGN KEY([KİTAPTUR])
REFERENCES [dbo].[TUR] ([ID])
GO
ALTER TABLE [dbo].[KİTAP] CHECK CONSTRAINT [FK_KİTAP_Tur]
GO
ALTER TABLE [dbo].[KİTAP]  WITH CHECK ADD  CONSTRAINT [FK_KİTAP_YAYİNEVİ] FOREIGN KEY([YAYINEVİ])
REFERENCES [dbo].[YAYİNEVİ] ([YAYINEVİID])
GO
ALTER TABLE [dbo].[KİTAP] CHECK CONSTRAINT [FK_KİTAP_YAYİNEVİ]
GO
/****** Object:  StoredProcedure [dbo].[KisiKitap]    Script Date: 6.09.2021 13:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KisiKitap]
(
	@P1 int
)
AS
	SET NOCOUNT ON;
SELECT        KİTAPID, KİTAPAD
FROM            KİTAP
WHERE        (KİSİ = @P1)
GO
